@* <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    
    <link rel="stylesheet" href="/CSS/create_request.css">
    <link rel="stylesheet" href="/CSS/submit_request_screen.css">
    <title>Submit Request</title>
</head>

<body>
    <div class="container-fluid">

        <div class="shadow row">
            <div class="d-flex justify-content-between align-items-center">
                <img src="/Images/SRS Screen Shorts/logo hello doc.jpg" alt="" height="100px">
                <button type="button" onclick="darkMode()" class="btn btn-outline-info me-3" id="dark_btn">
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px"
                         viewBox="0 0 24 24" width="24px" fill="currentColor">
                        <rect fill="none" height="24" width="24" />
                        <path d="M9.37,5.51C9.19,6.15,9.1,6.82,9.1,7.5c0,4.08,3.32,7.4,7.4,7.4c0.68,0,1.35-0.09,1.99-0.27C17.45,17.19,14.93,19,12,19 c-3.86,0-7-3.14-7-7C5,9.07,6.81,6.55,9.37,5.51z M12,3c-4.97,0-9,4.03-9,9s4.03,9,9,9s9-4.03,9-9c0-0.46-0.04-0.92-0.1-1.36 c-0.98,1.37-2.58,2.26-4.4,2.26c-2.98,0-5.4-2.42-5.4-5.4c0-1.81,0.89-3.42,2.26-4.4C12.92,3.04,12.46,3,12,3L12,3z" />
                    </svg>
                </button>
            </div>
        </div>



        <div class="bg"></div>

        <div class="row">
            <div class="col m-4 d-flex justify-content-end">
                <button type="button" class="btn btn-outline-info">
                    <div class="d-flex">
                        <a href="/patient_site.html" class="back_btn">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"
                                 fill="currentColor">
                                <path d="m142-480 294 294q15 15 14.5 35T435-116q-15 15-35 15t-35-15L57-423q-12-12-18-27t-6-30q0-15 6-30t18-27l308-308q15-15 35.5-14.5T436-844q15 15 15 35t-15 35L142-480Z" />
                            </svg>
                            Back
                        </a>
                    </div>
                </button>
            </div>
        </div>



        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>




        <div class="justify-content-center row align-items-center" style="z-index:5;">
            <footer class="d-flex footer justify-content-end pe-5">
                <a href="#" class="footer_links">Terms and Conditions</a>
                <span class="mx-3">|</span>
                <a href="#" class="footer_links">Privacy Policy</a>
            </footer>
        </div>

    </div>
    
   
    @RenderSection("script",required:false)
</body>

</html>

 *@















<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <link rel="stylesheet" href="/CSS/create_request.css">
    <link rel="stylesheet" href="/CSS/submit_request_screen.css">
    <title>Submit Request</title>

</head>

<body>
    <div class="container-fluid">

        <div class="shadow row">
            <div class="d-flex justify-content-between align-items-center">
                <img src="/Images/SRS Screen Shorts/logo hello doc.jpg" alt="" height="100px">
                <button type="button" onclick="darkMode()" class="btn btn-outline-info me-3" id="dark_btn">
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px"
                         viewBox="0 0 24 24" width="24px" fill="currentColor">
                        <rect fill="none" height="24" width="24" />
                        <path d="M9.37,5.51C9.19,6.15,9.1,6.82,9.1,7.5c0,4.08,3.32,7.4,7.4,7.4c0.68,0,1.35-0.09,1.99-0.27C17.45,17.19,14.93,19,12,19 c-3.86,0-7-3.14-7-7C5,9.07,6.81,6.55,9.37,5.51z M12,3c-4.97,0-9,4.03-9,9s4.03,9,9,9s9-4.03,9-9c0-0.46-0.04-0.92-0.1-1.36 c-0.98,1.37-2.58,2.26-4.4,2.26c-2.98,0-5.4-2.42-5.4-5.4c0-1.81,0.89-3.42,2.26-4.4C12.92,3.04,12.46,3,12,3L12,3z" />
                    </svg>
                </button>
            </div>
        </div>



        
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
       
        <div class="justify-content-center row align-items-center mt-5">
            <footer class="d-flex footer justify-content-end pe-5">
                <a href="#" class="footer_links">Terms and Conditions</a>
                <span class="mx-3">|</span>
                <a href="#" class="footer_links">Privacy Policy</a>
            </footer>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="/JS/script.js"></script>

    @RenderSection("patient_request", required:false)
    @RenderSection("family_Friend", required:false)
    @RenderSection("concierge_request", required:false)
    @RenderSection("businessPartner", required:false)

</body>


</html>